body{
    background-color: #f5f5f5;
    font-family: 'Poppins', 'sans-serif';
}

header, footer{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
}
main > form{
    margin: 3% 0;
    align-self: center;
}

input, select{
    font-family: 'Poppins', 'sans-serif';
}